<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css" rel="stylesheet">
    <title>Image Reconstruction using Linear Algebra</title>
</head>
<body>
<h1>Image Reconstruction using Linear Algebra</h1>
<p>Homepage. Choose a page to visit:</p>
<button onclick="window.location.href = '/lsq';">Regularized Least Squares Reconstruction</button>
<button onclick="window.location.href = '/lasso';">LASSO Reconstruction</button>
<button onclick="window.location.href = '/iterlasso';">Iterative LASSO Reconstruction</button>
<button onclick="window.location.href = '/ai';">DALLE-2 Reconstruction</button>

<h3>Image server status</h3>
<p>Loading...</p>
<footer>If this still says "loading" after about 10 seconds it means that the image processing server is currently
    offline to conserve bandwidth and compute capacity. If the image server status is offline, you will not be able to
    use the image reconstruction tools.
</footer>
</body>
</html>